html{
	margin:0;
	padding:0;
}
body{
	background:#333E52;
	font-family:sans-serif;
	margin:0;
	padding:0;
}
#rich-container{
	height:90vh;
	width:100vw;
}
#rich-input{
	font-family:inherit;
}
label{
	background:#8D31B0;
	color:#fff;
	display:block;
	padding: .5em 0;
	text-align:center;
}
textarea{
	background:#3D5174;
	border:none;
	color:#fff;
	display:block;
	height:90%;
	margin:0 5%;
	width:90%;
}
#code-hide,#help-hide{ display:none; }
#code-hide:checked + #rich-container{
	height:50vh;
}
#code-hide:checked ~ #code-container{
	height:45vh;
}
#code-container{
	height:5vh;
}

#help{
	background:#3D5174;
	color:white;
	display:none;
	height:95vh;
	position:absolute;
	width:100vw;
}
#help-hide:checked + #help{
	display:block;
}
p{
	margin: 1em 20%;
	text-align:justify;
}